@import url(../ophthalmology/section-cta.css);

.aesthetic-cta .ophthalmology-cta__inner::before {
    background: linear-gradient(179.72deg, rgba(153, 129, 88, 0.345) 30.94%, rgba(153, 129, 88, 0.4) 96.32%);
}

.aesthetic-cta .container-fluid {
    padding-top: var(--content-padding-inline) !important;
    padding-bottom: var(--content-padding-inline) !important;
}