@import url('../style.css');

@import url(../ophthalmology/section-directions.css);
@import url(../ophthalmology/section-doctors.css);
@import url(../ophthalmology/section-technologies.css);
@import url(../preventive-medicine/section-reviews.css);

@import url('section-hero.css');
@import url('section-feature.css');
@import url('section-benefits.css');
@import url('section-cta.css');
@import url('section-clinics.css');
@import url('section-inpatient.css');
@import url('section-offers.css');
@import url('section-questions.css');
@import url('section-results.css');

.bg-silver {
    background: #F8F7F3;
}

.section-white {
    background: #fff;
}


.programs-section .section-title {
    text-align: center;
}

@media screen and (max-width:991px) {
    .installment-right {
        padding-top: 20px;
    }

    .aesthetic-feature-2__btn {
        margin-top: 20px;
    }
}

@media screen and (max-width:768px) {
    .programs-section .section-title {
        text-align: left;
    }
}