.offers-section {
    padding: 70px 0;
}

.offers-section .section-header {
    margin-bottom: 30px;
}

.aesthetic-offers-section .offer-image::before {
    background: linear-gradient(179.72deg, rgba(153, 129, 88, 0) 30.94%, #998158 96.32%);
}

.offers-section .section-subtitle {
    max-width: 463px;
    margin-bottom: 0px;
}

.offers-section .section-action {
    margin-top: 30px !important;
}

.offers-section .btn {
    height: 39px;
    padding: 9px 40px;
}


@media screen and (max-width:1421px) {
    .aesthetic-offers-section .offer-badge {
        bottom: 90px;
    }
}

@media screen and (max-width:768px) {
    
    .offer-card:nth-child(1) .offer-image {
        background-image: url(../../assets/images/aesthetic/offer-1_mob.png) !important;
    }

    .offer-card:nth-child(2) .offer-image {
        background-image: url(../../assets/images/aesthetic/offer-2_mob.png) !important;
    }

    .offer-card:nth-child(3) .offer-image {
        background-image: url(../../assets/images/aesthetic/offer-3_mob.png) !important;
    }

    .offer-card:nth-child(4) .offer-image {
        background-image: url(../../assets/images/aesthetic/offer-4_mob.png) !important;
    }

    .offer-card:nth-child(5) .offer-image {
        background-image: url(../../assets/images/aesthetic/offer-5_mob.png) !important;
    }
}
